body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
}
h1{
    color: #363958;
    font-size: 50px;
}
h2{
    color: #FF8367;
    font-size: 50px;
}
h4{
   color: #363958; 
}
section{
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #FA7261, #F96E61);
    padding: 15px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.middle-area{
    margin-top: 300px;
}
.tripple-area{
    margin-top: 800px;
    background-color: #F8F9FC;
    height: 400px;
    padding-top: 100px;
}
.tripple-width{
    float: left;
    width: 20%;
    margin-left: 10%;
    padding-top: 20px;
    box-shadow: 10px 10px 40px #b4bdd6;
    border-radius: 10px;
}
.full-width{
    margin-top: 200px;
}
.tripple-width img{
    width: 100%;
}
.rong-area{
    color: coral;
}
#cntr-area{
    text-align: center;
}
.contact-area{
    width: 100%;
}
.chat-box{
    height: 250px;
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: 200px;

}
.left-info{
    padding-top: 41px;
    text-align: left;
    padding-left: 40px;
    color: white;
    float: left;
}
#right-info{
    float: right;
    margin-right: 240px;
    margin-top: 90px;
}
.common-skill{
    width: 100%;
    border: 1px solid;
    margin-top: 50px;
    border-radius: 20px;
    background-color:rgb(240, 226, 255);
}
.common-skill h3{
    color: sandybrown;
    margin-left: 10px;
}
.common-skill p{
    font-style: italic;
    margin-left: 10px;
    color: slategray;
}